body{
text-align:center
}
body{
    background-color:skyblue
}

body{
    background-image:url("Luna.jpg")
    
}

h1{
color:white
}

h2{
    color:white
}

br{
    color:white
}

p{
    color:white
}

